<a href="https://motor.nictanzania.co.tz/cmarketplace/"
    class="btn btn-just-icon btn-white btn-link" data-toggle="tooltip"
    data-placement="bottom" title="Motor Insurance">
    <i class="icon-car"></i>
</a>
<a href="products/non_life/non_life.html" class="btn btn-just-icon btn-white btn-link"
    data-toggle="tooltip" data-placement="bottom" title="Fire Insurance">
    <i class="icon-fire"></i>
</a>
<a href="products/non_life/non_life.html" class="btn btn-just-icon btn-white btn-link"
    data-toggle="tooltip" data-placement="bottom" title="Aviation Insurance">
    <i class="icon-airplane2"></i>
</a>
<a href="products/non_life/non_life.html" class="btn btn-just-icon btn-white btn-link"
    data-toggle="tooltip" data-placement="bottom" title="Marine Insurance">
    <i class="icon-ship"></i>
</a>
<a href="products/non_life/non_life.html" class="btn btn-just-icon btn-white btn-link"
    data-toggle="tooltip" data-placement="bottom" title="Energy, Oil & Gas Insurance">
    <i class="icon-gas"></i>
</a>
<a href="products/life/life.html" class="btn btn-just-icon btn-white btn-link"
    data-toggle="tooltip" data-placement="bottom" title="Life Assurance Products">
    <i class="icon-users4"></i>
</a>
<a href="products/non_life/non_life.html" class="btn btn-just-icon btn-white btn-link"
    data-toggle="tooltip" data-placement="bottom" title="Other Non-Life Insurance Products">
    <i class=" icon-umbrella"></i>
</a>